name: Sync Fork

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Sync fork with upstream
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh repo sync ${{ github.repository }} --source zigbee2mqtt/hassio-zigbee2mqtt --branch master

