name: Sync Fork

on:
  schedule:
    - cron: '0 4 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - uses: tgymnich/fork-sync@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          owner: zigbee2mqtt
          repo: hassio-zigbee2mqtt
          base: master

